.find-password-container{
    display: flex;
}

.passwordfind{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.passwordfind h2{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-left: 17rem;
}

.password-find-form{
    margin-left: 17rem;
    display: grid;
    row-gap: 3rem;
}

.password-find-form input{
    width: 308px;
    height: 55px;
    background: #FFFFFF;
    border: 1.3px solid #000000;
    padding-left: 1rem;
}

.go-login-password{
    margin-top: -4.7rem;
    margin-left: 31rem;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #883223;
    cursor: pointer;
}

.password-find-form button{
    background: #000000;
    border: 1px solid #000000;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    height: 40px;
    margin-left: 0rem;
}