.navbar-container {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 60%;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 20%;
    padding-top: 1%;
    max-width: 100vw !important;
    z-index: 999;
    color: black!important;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 106px;
    color: black!important;
}

.navbar ul li {
    display: inline-block;
    position: relative;
    color: black!important;
}

.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: black !important;
    display: inline-block; 
}

.navbar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black!important;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li a:hover::after {
    width: 100%; 
}
  /* Recipes */

/*position: absolute;
width: 73px;
height: 13px;
left: 156px;
top: 174px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #000000;*/



/* Ingredients */

/* position: absolute;
width: 120px;
height: 13px;
left: 292px;
top: 174px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #000000;*/



/* Home */

/* position: absolute;
width: 120px;
height: 13px;
left: 475px;
top: 174px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #000000;*/



/* Ranking */

/* position: absolute;
width: 120px;
height: 13px;
left: 604px;
top: 174px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #000000;*/

