html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

.createrecipe-container{
    background-color: #EFEFF7;
    width: 100%;
    min-height: 200vh;
}

.createrecipe h1{
    margin-left: 10%;
    padding-top: 2%;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.Ingredients{
    background: #FFFF;
    margin-top: 20%;
    margin-left:10%;
    margin-right: 10%;
}
.Ingredients h1{
    margin-left:3%;
    padding-top: 2%;
}